In [8]:
import pandas as pd
import numpy as np

In [34]:
usecols = list()
usecols.append('AIRLINE')
usecols.append('FLIGHT_NUMBER')
usecols.append('ORIGIN_AIRPORT')
usecols.append('DESTINATION_AIRPORT')
usecols.append('SCHEDULED_DEPARTURE')
usecols.append('DEPARTURE_TIME')
usecols.append('DEPARTURE_DELAY')
usecols.append('SCHEDULED_ARRIVAL')
usecols.append('ARRIVAL_TIME')
usecols.append('ARRIVAL_DELAY')
usecols.append('CANCELLED')

In [35]:
df_airlines = pd.read_csv('/Users/work/Google Drive/Venturenix/course materials/data/flight_delay/Airlines.csv')
df_airports = pd.read_csv('/Users/work/Google Drive/Venturenix/course materials/data/flight_delay/Airports.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [47]:
# df_flights = pd.read_csv('/Users/work/Google Drive/Venturenix/course materials/data/flight_delay/Flights.csv',usecols=usecols)

df_flights = pd.read_csv('/Users/work/Google Drive/Venturenix/course materials/data/flight_delay/Flights.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [76]:
df_flights.shape

(5819079, 31)

In [48]:
df_flights.head(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,1,1,4,DL,806,N3730B,SFO,MSP,25,...,610.0,8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,1,1,4,NK,612,N635NK,LAS,MSP,25,...,509.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7,2015,1,1,4,US,2013,N584UW,LAX,CLT,30,...,753.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8,2015,1,1,4,AA,1112,N3LAAA,SFO,DFW,30,...,532.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,1,1,4,DL,1173,N826DN,LAS,ATL,30,...,656.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
# Select column 
df_flights[['YEAR','MONTH','DAY']].head()

   YEAR  MONTH  DAY
0  2015      1    1
1  2015      1    1
2  2015      1    1
3  2015      1    1
4  2015      1    1

In [54]:
df_flights[['YEAR']].head()

   YEAR
0  2015
1  2015
2  2015
3  2015
4  2015

In [53]:
df_flights['YEAR'].head()

0    2015
1    2015
2    2015
3    2015
4    2015
Name: YEAR, dtype: int64

In [ ]:
# Select row
# .loc .iloc .ix

In [57]:
df_temp = df_flights.head()
df_temp

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
df_temp.loc[[True,True,False,False,True]]

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
df_temp['ORIGIN_AIRPORT'] == 'SFO'

0    False
1    False
2     True
3    False
4    False
Name: ORIGIN_AIRPORT, dtype: bool

In [63]:
(df_temp['AIRLINE'] == 'AS') & (df_temp['ORIGIN_AIRPORT'] == 'ANC')

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [71]:
df_temp.iloc[[0,1,4]]

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
df_flights.loc[(df_flights['AIRLINE'] == 'AS') & (df_flights['ORIGIN_AIRPORT'] == 'ANC'),usecols]

,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,CANCELLED
0,AS,98,ANC,SEA,5,2354.0,-11.0,430,408.0,-22.0,0
15,AS,108,ANC,SEA,45,41.0,-4.0,509,455.0,-14.0,0
18,AS,122,ANC,PDX,50,46.0,-4.0,525,507.0,-18.0,0
32,AS,136,ANC,SEA,135,NaN,NaN,600,NaN,NaN,1
38,AS,134,ANC,SEA,155,140.0,-15.0,633,558.0,-35.0,0
43,AS,144,ANC,PDX,200,150.0,-10.0,630,619.0,-11.0,0
47,AS,114,ANC,SEA,220,209.0,-11.0,640,628.0,-12.0,0
61,AS,730,ANC,SEA,505,457.0,-8.0,930,916.0,-14.0,0
600,AS,157,ANC,OTZ,630,622.0,-8.0,812,802.0,-10.0,0
890,AS,112,ANC,SEA,700,653.0,-7.0,1130,1115.0,-15.0,0
1052,AS,55,ANC,SCC,710,706.0,-4.0,856,848.0,-8.0,0
1613,AS,62,ANC,JNU,800,748.0,-12.0,940,938.0,-2.0,0
3085,AS,172,ANC,PHX,945,938.0,-7.0,1730,1701.0,-29.0,0
3246,AS,824,ANC,OGG,955,955.0,0.0,1525,1515.0,-10.0,0
3334,AS,151,ANC,OME,1000,951.0,-9.0,1140,1137.0,-3.0,0
3862,AS,80,ANC,SEA,1035,1027.0,-8.0,1502,1453.0,-9.0,0
4382,AS,43,ANC,BET,1110,1114.0,4.0,1233,1228.0,-5.0,0
4716,AS,64,ANC,JNU,1130,1126.0,-4.0,1310,1312.0,2.0,0
4962,AS,140,ANC,PDX,1145,1140.0,-5.0,1615,1604.0,-11.0,0
6555,AS,870,ANC,HNL,1325,1316.0,-9.0,1845,1831.0,-14.0,0
6774,AS,120,ANC,SEA,1340,1330.0,-10.0,1755,1745.0,-10.0,0
7131,AS,164,ANC,ADK,1400,1348.0,-12.0,1616,1549.0,-27.0,0
7555,AS,92,ANC,SEA,1430,1424.0,-6.0,1850,1833.0,-17.0,0
7856,AS,50,ANC,SCC,1450,1444.0,-6.0,1636,1618.0,-18.0,0
9226,AS,84,ANC,SEA,1615,1604.0,-11.0,2035,2011.0,-24.0,0
10703,AS,82,ANC,SEA,1750,1738.0,-12.0,2207,2140.0,-27.0,0
11833,AS,102,ANC,SEA,1910,1901.0,-9.0,2333,2310.0,-23.0,0
13459,AS,106,ANC,SEA,2140,2130.0,-10.0,201,130.0,-31.0,0
13837,AS,138,ANC,ORD,2305,2259.0,-6.0,820,828.0,8.0,0
13863,AS,174,ANC,LAS,2320,2313.0,-7.0,530,504.0,-26.0,0
...,...,...,...,...,...,...,...,...,...,...,...
5806083,AS,730,ANC,SEA,500,456.0,-4.0,930,942.0,12.0,0
5806722,AS,157,ANC,OTZ,610,604.0,-6.0,753,747.0,-6.0,0
5806818,AS,41,ANC,BET,615,613.0,-2.0,740,720.0,-20.0,0
5807502,AS,112,ANC,SEA,700,656.0,-4.0,1125,1152.0,27.0,0
5808191,AS,55,ANC,SCC,750,745.0,-5.0,935,921.0,-14.0,0
5808398,AS,62,ANC,JNU,800,756.0,-4.0,943,946.0,3.0,0
5809186,AS,172,ANC,PHX,855,859.0,4.0,1637,1646.0,9.0,0
5810202,AS,80,ANC,SEA,1000,1008.0,8.0,1425,1506.0,41.0,0
5810276,AS,151,ANC,OME,1005,1005.0,0.0,1145,1152.0,7.0,0
5810442,AS,824,ANC,OGG,1015,1015.0,0.0,1542,1537.0,-5.0,0
5811102,AS,182,ANC,SEA,1100,1054.0,-6.0,1530,1533.0,3.0,0
5811170,AS,64,ANC,JNU,1105,1103.0,-2.0,1248,1258.0,10.0,0
5811228,AS,43,ANC,BET,1110,1126.0,16.0,1227,1254.0,27.0,0
5812056,AS,140,ANC,PDX,1200,1155.0,-5.0,1635,1648.0,13.0,0
5813324,AS,870,ANC,HNL,1330,1321.0,-9.0,1851,1836.0,-15.0,0
5813326,AS,110,ANC,SEA,1330,1326.0,-4.0,1755,1756.0,1.0,0
5813891,AS,164,ANC,ADK,1405,1356.0,-9.0,1619,1610.0,-9.0,0
5814398,AS,92,ANC,SEA,1440,1443.0,3.0,1900,1914.0,14.0,0
5814598,AS,50,ANC,SCC,1455,1508.0,13.0,1641,1650.0,9.0,0
5814924,AS,66,ANC,CDV,1519,1524.0,5.0,1612,1617.0,5.0,0
5815101,AS,49,ANC,ADQ,1530,1522.0,-8.0,1628,1621.0,-7.0,0
5815431,AS,88,ANC,SEA,1555,1600.0,5.0,2020,2035.0,15.0,0
5815982,AS,153,ANC,OTZ,1640,1642.0,2.0,1815,1818.0,3.0,0
5816051,AS,98,ANC,SEA,1645,1636.0,-9.0,2110,2109.0,-1.0,0
5817041,AS,158,ANC,SEA,1800,1751.0,-9.0,2225,2230.0,5.0,0
5818754,AS,106,ANC,SEA,2150,2142.0,-8.0,218,217.0,-1.0,0
5818963,AS,138,ANC,ORD,2300,2247.0,-13.0,819,819.0,0.0,0
5818969,AS,167,ANC,FAI,2305,2300.0,-5.0,2359,2.0,3.0,0
5818977,AS,174,ANC,LAS,2310,2302.0,-8.0,518,531.0,13.0,0
5819037,AS,150,ANC,LAX,2350,2345.0,-5.0,615,552.0,-23.0,0

In [36]:
# get top n row
df_flights.head(10).T

                        0     1    2    3    4    5    6     7     8     9
AIRLINE                AS    AA   US   AA   AS   DL   NK    US    AA    DL
FLIGHT_NUMBER          98  2336  840  258  135  806  612  2013  1112  1173
ORIGIN_AIRPORT        ANC   LAX  SFO  LAX  SEA  SFO  LAS   LAX   SFO   LAS
DESTINATION_AIRPORT   SEA   PBI  CLT  MIA  ANC  MSP  MSP   CLT   DFW   ATL
SCHEDULED_DEPARTURE     5    10   20   20   25   25   25    30    30    30
DEPARTURE_TIME       2354     2   18   15   24   20   19    44    19    33
DEPARTURE_DELAY       -11    -8   -2   -5   -1   -5   -6    14   -11     3
SCHEDULED_ARRIVAL     430   750  806  805  320  602  526   803   545   711
ARRIVAL_TIME          408   741  811  756  259  610  509   753   532   656
ARRIVAL_DELAY         -22    -9    5   -9  -21    8  -17   -10   -13   -15
CANCELLED               0     0    0    0    0    0    0     0     0     0

In [82]:
# groupby

# df_flights.groupby('AIRLINE')['AIRLINE'].agg('count')
df_flights.groupby('AIRLINE')['AIRLINE'].agg({'AIRLINE':'count'})

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  after removing the cwd from sys.path.

         AIRLINE
AIRLINE
AA        725984
AS        172521
B6        267048
DL        875881
EV        571977
F9         90836
HA         76272
MQ        294632
NK        117379
OO        588353
UA        515723
US        198715
VX         61903
WN       1261855

In [92]:
df_flights.loc[df_flights['DEPARTURE_DELAY'] > 0].groupby('ORIGIN_AIRPORT')['DAY'].agg('count')

ORIGIN_AIRPORT
10135       68
10136       34
10140      648
10141       15
10146       20
10154       13
10155       14
10157       35
10158       48
10165        5
10170        6
10185       59
10208       38
10257      156
10268        4
10279       71
10299      275
10333        4
10372        7
10397     9291
10408       66
10423     1243
10431       89
10434       38
10469       13
10529      425
10551       20
10561       29
10577       10
10581        5
         ...
SRQ       1103
STC         28
STL      18261
STT       1533
STX        348
SUN        201
SUX        155
SWF        209
SYR       1364
TLH        800
TOL        170
TPA      23364
TRI        490
TTN        973
TUL       4299
TUS       4179
TVC        622
TWF        137
TXK        242
TYR        617
TYS       2270
UST         71
VEL         10
VLD        208
VPS       1358
WRG        194
WYS         41
XNA       2783
YAK        128
YUM        339
Name: DAY, Length: 863, dtype: int64

In [94]:
df_flights['ORIGIN_AIRPORT'].unique()

array(['ANC', 'LAX', 'SFO', 'SEA', 'LAS', 'DEN', 'SLC', 'PDX', 'FAI',
       'MSP', 'PHX', 'SJU', 'PBG', 'IAG', 'PSE', 'BQN', 'ORD', 'GEG',
       'HNL', 'ONT', 'MCO', 'BOS', 'HIB', 'ABR', 'MAF', 'DFW', 'MKE',
       'IAH', 'BNA', 'BRO', 'VPS', 'BOI', 'BJI', 'SGF', 'PHL', 'SBN',
       'RDD', 'EUG', 'IAD', 'BUF', 'PWM', 'JFK', 'CRP', 'PIA', 'FAT',
       'SMF', 'AUS', 'MCI', 'ATL', 'JAX', 'MFR', 'IDA', 'MSN', 'DCA',
       'SAT', 'CHS', 'SBA', 'SMX', 'IND', 'CLE', 'GSP', 'BDL', 'ABI',
       'RIC', 'BFL', 'OMA', 'RDM', 'FLL', 'CID', 'TPA', 'SYR', 'ROC',
       'TYR', 'LAN', 'XNA', 'GSO', 'EWR', 'PBI', 'RSW', 'OAK', 'PVD',
       'RNO', 'PIT', 'ABQ', 'MIA', 'BWI', 'LGA', 'TUL', 'LIT', 'MSY',
       'OKC', 'ATW', 'PNS', 'MEM', 'TYS', 'MHT', 'SAV', 'CLT', 'GRB',
       'ABE', 'JAN', 'OAJ', 'FAR', 'ERI', 'LEX', 'CWA', 'MSO', 'TTN',
       'AMA', 'CLL', 'HOU', 'JLN', 'MLI', 'RDU', 'CVG', 'MHK', 'MOB',
       'TLH', 'BHM', 'CAE', 'TXK', 'ACY', 'DTW', 'RAP', 'TUS', 'EAU',
       'DLH', 'FSD', 'INL', 'CMX', 'SPI', 'CLD', 'COD', 'CMH', 'LRD',
       'PSC', 'CPR', 'ACV', 'DAL', 'PAH', 'MRY', 'ESC', 'ISN', 'PSP',
       'MFE', 'STL', 'BTV', 'FSM', 'AEX', 'SPS', 'ACT', 'SJT', 'MTJ',
       'GCC', 'OGG', 'SJC', 'GUC', 'ORF', 'MOT', 'MLU', 'KOA', 'SAN',
       'LAW', 'PIB', 'MGM', 'SBP', 'COS', 'LAR', 'DRO', 'BIS', 'ITO',
       'BTR', 'GRI', 'HLN', 'BZN', 'MDW', 'MDT', 'SCE', 'LIH', 'TWF',
       'BPT', 'GPT', 'STC', 'HPN', 'MLB', 'PLN', 'CIU', 'CAK', 'DSM',
       'BLI', 'SHV', 'ROW', 'FWA', 'SNA', 'ALB', 'HOB', 'LNK', 'CMI',
       'COU', 'GTF', 'EKO', 'LGB', 'AVL', 'HSV', 'SAF', 'GRR', 'SUX',
       'LFT', 'HYS', 'ELP', 'DVL', 'ISP', 'BUR', 'DAB', 'DAY', 'GRK',
       'GJT', 'BMI', 'LBE', 'ASE', 'RKS', 'GUM', 'TVC', 'ALO', 'IMT',
       'LCH', 'JNU', 'JAC', 'MEI', 'DBQ', 'GCK', 'GNV', 'BRD', 'DIK',
       'SDF', 'LBB', 'AVP', 'BTM', 'ELM', 'PIH', 'ICT', 'SUN', 'LWS',
       'VEL', 'STT', 'YUM', 'FLG', 'FCA', 'HDN', 'JMS', 'ROA', 'CHA',
       'EYW', 'MYR', 'CRW', 'MQT', 'CHO', 'ECP', 'EVV', 'EGE', 'MBS',
       'GFK', 'TOL', 'BIL', 'OTZ', 'KTN', 'STX', 'ILM', 'PUB', 'RHI',
       'CDC', 'HRL', 'SCC', 'FNT', 'LSE', 'MMH', 'APN', 'AGS', 'CEC',
       'DHN', 'WRG', 'PHF', 'CNY', 'BRW', 'GGG', 'AZO', 'SRQ', 'ORH',
       'TRI', 'VLD', 'SIT', 'BQK', 'PSG', 'FAY', 'MKG', 'CSG', 'EWN',
       'OME', 'SGU', 'RST', 'GTR', 'BET', 'ABY', 'SWF', 'ILG', 'ADK',
       'UST', 'YAK', 'CDV', 'OTH', 'ADQ', 'PPG', 'BGM', 'BGR', 'ITH',
       'ACK', 'MVY', 'WYS', 'DLG', 'AKN', 'GST', 'HYA', '14747', '14771',
       '12889', '12892', '14869', '10299', '11292', '14107', '11630',
       '10732', '14254', '10141', '10627', '11982', '12173', '13930',
       '14683', '12266', '11618', '10721', '13487', '11884', '15919',
       '13851', '11111', '10693', '12191', '14783', '15016', '14487',
       '10423', '15370', '11953', '13891', '15376', '11778', '11278',
       '14100', '13204', '15304', '11637', '14842', '10155', '11775',
       '11298', '11057', '13931', '10821', '14122', '11049', '10990',
       '10631', '13158', '14108', '13198', '11447', '12206', '13495',
       '14057', '15624', '10747', '15411', '12891', '10994', '13256',
       '10792', '14492', '12451', '13127', '10781', '14960', '12278',
       '14685', '11995', '13485', '11977', '10257', '13796', '13232',
       '13296', '14570', '14893', '14524', '12217', '10713', '10208',
       '10136', '11603', '14689', '11471', '11315', '13264', '12478',
       '14814', '11308', '11066', '12896', '10397', '14307', '11721',
       '11140', '10185', '13277', '11203', '13342', '11433', '11697',
       '12953', '10599', '12156', '14952', '10620', '11042', '15096',
       '10408', '15249', '11423', '12915', '12264', '12339', '10140',
       '13871', '14027', '13244', '11267', '11540', '14576', '10868',
       '13486', '13476', '14489', '12945', '15607', '10529', '11986',
       '14635', '13303', '10785', '15380', '11996', '10561', '10874',
       '13367', '10146', '10431', '11973', '10980', '12197', '14098',
       '12323', '10577', '11150', '10135', '11617', '13795', '13029',
       '11003', '11146', '11577', '15356', '11259', '10279', '14321',
       '14843', '11638', '14828', '11481', '12951', '10434', '12448',
       '14730', '15323', '14252', '11193', '10849', '14193', '14986',
       '11641', '12992', '13422', '11612', '11823', '11980', '13290',
       '10158', '10685', '13377', '11109', '11076', '11122', '11865',
       '14543', '14905', '11587', '14457', '12335', '12343', '12003',
       '10157', '12884', '14633', '15048', '10268', '15295', '12389',
       '11525', '14262', '12888', '12391', '11648', '14696', '12758',
       '13830', '10469', '15412', '10731', '14679', '14831', '11413',
       '13433', '12982', '11867', '14698', '11537', '15389', '12402',
       '11337', '13360', '13076', '14006', '10728', '15401', '13230',
       '12016', '11067', '11274', '11921', '12519', '11013', '10779',
       '14150', '14794', '12511', '12177', '12523', '14908', '12007',
       '14588', '13577', '13061', '15041', '14109', '10800', '12954',
       '12441', '12898', '11695', '16218', '14113', '11624', '11503',
       '10739', '14574', '14711', '12129', '15070', '14520', '13184',
       '11252', '12280', '13241', '11898', '15024', '14674', '10551',
       '12819', '13459', '10581', '13970', '10372', '10918', '14709',
       '12255', 11267, 12266, 10821, 14771, 11433, 11982, 11905, 15411,
       14679, 14108, 10397, 13871, 11618, 14574, 10423, 11259, 10800,
       11140, 12191, 12889, 13198, 10529, 10693, 13232, 11540, 14570,
       14635, 14831, 11298, 13204, 11278, 14100, 12892, 12478, 13930,
       15304, 14107, 12523, 12954, 11697, 14057, 12339, 13487, 14893,
       11986, 11292, 14576, 15370, 12402, 14908, 12953, 12758, 15016,
       10721, 12264, 10685, 11612, 13277, 11057, 12891, 12197, 11193,
       13495, 13891, 13244, 14843, 14747, 11996, 10333, 14262, 11695,
       13342, 14698, 10431, 15376, 12451, 14524, 13830, 13796, 14122,
       14960, 16218, 10713, 11066, 10208, 14683, 14869, 14492, 11638,
       11413, 10792, 10408, 14689, 10980, 14952, 12951, 15323, 11884,
       14307, 14730, 14783, 11603, 11977, 11921, 13577, 13061, 13851,
       11042, 12448, 12992, 10874, 12896, 11308, 12173, 12206, 13377,
       10747, 13256, 13303, 10185, 10599, 10140, 15295, 11898, 13795,
       10728, 10994, 12391, 10299, 12217, 13290, 12007, 11109, 15096,
       10627, 13433, 15249, 12278, 12915, 11637, 13931, 13485, 11721,
       11775, 13476, 15841, 14027, 15380, 12945, 11315, 15919, 13360,
       10868, 14986, 12982, 10279, 11150, 13264, 14193, 11823, 13367,
       10469, 11423, 11337, 11252, 13029, 14696, 11049, 13296, 14685,
       13158, 12323, 10257, 14588, 11274, 13344, 13933, 15412, 13422,
       11146, 15991, 13230, 14794, 11003, 14828, 10781, 10990, 10785,
       10434, 14457, 11481, 11537, 10136, 14814, 10754, 10135, 10731,
       13127, 14321, 10849, 14098, 10146, 15607, 11624, 12177, 10158,
       12884, 15624, 14256, 11973, 14842, 15356, 10561, 14113, 15389,
       14489, 12094, 12888, 13076, 12129, 13873, 10157, 11995, 10631,
       12441, 12343, 14252, 11097, 10732, 10154, 11122, 11641, 13486,
       12003, 10620, 10779, 12335, 11076, 15041, 12156, 12280, 10926,
       12819, 11865, 12519, 11778, 10551, 12389, 11953, 12898, 15024,
       10155, 11013, 10372, 11587, 13964, 11980, 11630, 11648, 14905,
       11525, 15070, 11471, 11111, 14633, 11447, 11203, 13241, 12511,
       11067, 10268, 13184, 10141, 13541, 14150, 15027, 14109, 15048,
       14006, 10739, 14520, 11617, 14487, 11867, 14674, 14543, 10577,
       10170, 11577, 14709, 14711, 12255, 10165, 10918, 15401, 13970,
       15497, 12265, 14254, 10581, 12016, 11503, 13459, 14222, 14025,
       13502, '15841', '13344', '15991', '10754', '14256', '13873',
       '11097', '10926', '13964', '11905', '15027', '13933', '10170',
       '10333', '14222', '14025', '13502', '15497', '12265'], dtype=object)

In [102]:
df_flights['IS_DELAYED'] = df_flights['DEPARTURE_DELAY'] > 0

In [100]:
df_flights['IS_DELAYED'] = 1

In [103]:
def foo(x):
    if x > 0:
        return 1
    else:
        return 0

In [104]:
df_flights['IS_DELAYED'] = df_flights['DEPARTURE_DELAY'].apply(foo)

0          0
1          0
2          0
3          0
4          0
5          0
6          0
7          1
8          0
9          1
10         0
11         0
12         0
13         0
14         0
15         0
16         0
17         0
18         0
19         0
20         1
21         0
22         0
23         0
24         0
25         0
26         0
27         1
28         0
29         1
          ..
5819049    1
5819050    1
5819051    1
5819052    0
5819053    0
5819054    0
5819055    0
5819056    0
5819057    1
5819058    0
5819059    0
5819060    0
5819061    0
5819062    1
5819063    1
5819064    0
5819065    0
5819066    0
5819067    0
5819068    0
5819069    1
5819070    0
5819071    1
5819072    1
5819073    1
5819074    0
5819075    0
5819076    0
5819077    0
5819078    1
Name: DEPARTURE_DELAY, Length: 5819079, dtype: int64

In [ ]:
df_flights['IS_DELAYED'] = df_flights['DEPARTURE_DELAY'].apply(lambda x: 1 if x >0 else 0)

In [106]:
f = lambda x:1 if x>0 else 0

In [108]:
f(-1)

0